---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16wKKXGDaDyff11eUBEdsNyw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16wKKXGDaDyff11eUBEdsNyw",
          "object": "event",
          "api_version": "2015-09-08",
          "created": 1444948573,
          "data": {
            "object": {
              "id": "ch_16wKKXGDaDyff11eHhBM9rww",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_16wKKXGDaDyff11eAeW8FNrO",
              "captured": true,
              "created": 1444948573,
              "currency": "usd",
              "customer": "cus_7AffusXYRIpeEo",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_16wKKXGDaDyff11emkUPXy6G",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_16wKKXGDaDyff11eHhBM9rww/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_16wKKVGDaDyff11exw1NqvIl",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7AffusXYRIpeEo",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2017,
                "fingerprint": "7CzkmxOcRfxLYEh4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7AffqToWsztInU",
          "type": "charge.succeeded"
        }
  recorded_at: Fri, 16 Oct 2015 00:26:31 GMT
recorded_with: VCR 2.9.3
