---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16vWiEGDaDyff11ebVHDBdYZ",
          "object": "token",
          "card": {
            "id": "card_16vWiEGDaDyff11eONfBawXN",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2019,
            "fingerprint": "7CzkmxOcRfxLYEh4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "67.100.26.114",
          "created": 1444757842,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 13 Oct 2015 17:37:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Charge%20for%20myflix%40example.com&source=tok_16vWiEGDaDyff11ebVHDBdYZ&email=gay_mante%40kemmer.info34
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_79qPWpTSfIRi2W",
          "object": "customer",
          "account_balance": 0,
          "created": 1444757843,
          "currency": null,
          "default_source": "card_16vWiEGDaDyff11eONfBawXN",
          "delinquent": false,
          "description": "Charge for myflix@example.com",
          "discount": null,
          "email": "gay_mante@kemmer.info34",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_16vWiEGDaDyff11eONfBawXN",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_79qPWpTSfIRi2W",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2019,
                "fingerprint": "7CzkmxOcRfxLYEh4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_79qPWpTSfIRi2W/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_79qPWpTSfIRi2W/subscriptions"
          }
        }
  recorded_at: Tue, 13 Oct 2015 17:37:23 GMT
recorded_with: VCR 2.9.3
