---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16voDQGDaDyff11eaJPe1DrH",
          "object": "token",
          "card": {
            "id": "card_16voDQGDaDyff11eMBGuTqs3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2019,
            "fingerprint": "Dby70sB1S2Hj6v5y",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "67.100.26.114",
          "created": 1444825124,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 14 Oct 2015 12:18:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Charge%20for%20myflix%40example.com&source=tok_16voDQGDaDyff11eaJPe1DrH&email=vladimir%40crooks.com143
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 14 Oct 2015 12:18:45 GMT
recorded_with: VCR 2.9.3
