---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16vYRKGDaDyff11e2OUHFf8s",
          "object": "token",
          "card": {
            "id": "card_16vYRJGDaDyff11eZs8A67d2",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2019,
            "fingerprint": "7CzkmxOcRfxLYEh4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "67.100.26.114",
          "created": 1444764482,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 13 Oct 2015 19:28:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&source=tok_16vYRKGDaDyff11e2OUHFf8s&description=Charge%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16vYRKGDaDyff11eQveZ6te6",
          "object": "charge",
          "amount": 400,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_16vYRKGDaDyff11eNNDdaK0r",
          "captured": true,
          "created": 1444764482,
          "currency": "usd",
          "customer": null,
          "description": "Charge for test@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_16vYRKGDaDyff11eQveZ6te6/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_16vYRJGDaDyff11eZs8A67d2",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2019,
            "fingerprint": "7CzkmxOcRfxLYEh4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 13 Oct 2015 19:28:03 GMT
recorded_with: VCR 2.9.3
