---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16wuLrGDaDyff11epxV4BR0z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16wuLrGDaDyff11epxV4BR0z",
          "object": "event",
          "api_version": "2015-09-08",
          "created": 1445087039,
          "data": {
            "object": {
              "id": "ch_16wuLrGDaDyff11er0CoMxme",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1445087039,
              "currency": "usd",
              "customer": "cus_7AtBtlG8djWnPp",
              "description": "failed payment test",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_16wuLrGDaDyff11er0CoMxme/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_16wuKtGDaDyff11eo9hrj3wE",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7AtBtlG8djWnPp",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2016,
                "fingerprint": "tPfHECfcOBXVkAiG",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": "myflix failed",
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7BGtKB37s4e0Wf",
          "type": "charge.failed"
        }
  recorded_at: Sat, 17 Oct 2015 14:22:28 GMT
recorded_with: VCR 2.9.3
