!!! 5
%html(lang="en-US")
  %body
    %h2
      Welcome to MyFlix #{@user.full_name}
    %p
      You now have access to hundreds of movies and tv shows live online! To get started visit 
      %span
        = link_to "myFlix", "http://www.myflix.com"
    %p 
      If you have any questions or concerns, please contact our customer service hotline at 888-888-8888.
    %br
    %p
      Happy viewing!

