---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Sign%20up%20for%20saggyb%40example.com&source=tok_16vXhVGDaDyff11eggCV0BFl&email=saggyb%40example.com&plan=myflix
    headers:
      Authorization:
      - Bearer sk_test_9QsfMgBBWsEc7vsPOjYACP3h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_79rQHoXSlZDn63",
          "object": "customer",
          "account_balance": 0,
          "created": 1444761642,
          "currency": "usd",
          "default_source": "card_16vXhVGDaDyff11eBDSkLAyM",
          "delinquent": false,
          "description": "Sign up for saggyb@example.com",
          "discount": null,
          "email": "saggyb@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_16vXhVGDaDyff11eBDSkLAyM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_79rQHoXSlZDn63",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "7CzkmxOcRfxLYEh4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_79rQHoXSlZDn63/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_79rQs8SN4jSkLN",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1447440042,
                "current_period_start": 1444761642,
                "customer": "cus_79rQHoXSlZDn63",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix",
                  "object": "plan",
                  "amount": 999,
                  "created": 1444666649,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1444761642,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_79rQHoXSlZDn63/subscriptions"
          }
        }
  recorded_at: Tue, 13 Oct 2015 18:40:43 GMT
recorded_with: VCR 2.9.3
